<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" parallel="none">
    <classes>
      <class name="test.initialSetup.tests.TestTestNgSetup"/>
    </classes>
    
   <!--  <packages>
    <package name="test.initialSetup.tests"></package>
    </packages> -->
  </test> <!-- Test -->
</suite> <!-- Suite -->
